// light colors
$background-color-light: #ffffff;
$text-color-light: #1a1a1a;
$pagination-base-color-light: #667085;
$pagination-hover-bg-color-light: #f9f5ff;
$pagination-hover-text-color-light: #7f56d9;
$border-light: rgba(0, 0, 0, 0.34);
$date-color-light: #6941c6;
$blog-details-text-light: #667085;

// dark colors
$background-color-dark: #090d1f;
$text-color-dark: #ffffff;
$pagination-base-color-dark: #efefef;
$pagination-hover-bg-color-dark: #f9f5ff;
$pagination-hover-text-color-dark: #112211;
$border-dark: rgba(255, 255, 255, 1);
$date-color-dark: #6941c6;
$blog-details-text-dark: #c0c5d0;

// font sizes
$font-size: 16px;
$font-size-tag: 14px;
$font-size-title: 18px;
$font-size-footer: 20px;
$font-size-post-title: 24px;

$font-size-header-mobile: 72px;
$font-size-header-tablet: 160.8px;
$font-size-header-desktop: 243.8px;

// tag colors
$tag-orange-text-color: #c4320a;
$tag-orange-bg-color: #fff6ed;

$tag-red-text-color: #c01048;
$tag-red-bg-color: #fff1f3;

$tag-pink-text-color: #c11574;
$tag-pink-bg-color: #fdf2fa;

$tag-purple-text-color: #6941c6;
$tag-purple-bg-color: #f9f5ff;

$tag-blue-text-color: #3538cd;
$tag-blue-bg-color: #eef4ff;

$tag-dark-blue-text-color: #363f72;
$tag-dark-blue-bg-color: #f8f9fc;

$tag-light-blue-text-color: #026aa2;
$tag-light-blue-bg-color: #f0f9ff;

$tag-green-text-color: #027a48;
$tag-green-bg-color: #ecfdf3;
