@use '../../styles/index' as *;

.footer {
  @include flex-layout(column, center, center);
  width: 100%;
  padding: 30px 20px;
  height: 283px;
  text-align: center;

  @include responsive(768px) {
    height: 84px;
    @include flex-layout(row, flex-start, center);
    text-align: left;
  }
}

.list {
  list-style: none;
  @include flex-layout(column, center, center);
  gap: 10px;
  order: 2;

  @include responsive(768px) {
    @include flex-layout(row, flex-start, flex-start);
    order: 1;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.copyright {
  order: 1;
  margin-top: 30px;

  @include responsive(768px) {
    order: -1;
    margin-top: 0;
  }
}
