@import '../../styles/variables.scss';

.toggle-button {
  position: relative;
  width: 96px;
  height: 40px;
  border-radius: 29px;
  cursor: pointer;
  background-color: $background-color-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  overflow: hidden;

  .toggle-thumb {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $background-color-dark;
    border-radius: 50%;
    top: 8px;
    left: 16px;
    transition: transform 0.3s ease;
  }

  &[data-theme='dark'] .toggle-thumb {
    transform: translateX(40px);
  }
}

.icon {
  width: 24px;
  height: 24px;
}
